body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
.header {
  display: flex;
  width: 100vw;
}
.col-1,
.col-2 {
  padding: 22px;
}
.col-1 {
  width: 10%;
  background-color: white;
}
.col-1 img {
  height: 30px;
  width: 134;
}

.col-2 {
  width: 90%;
  display: flex;
  background-color: grey;
}

.innercol-1 {
  width: 20%;
  background-color: red;
}
