body {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
a {
  color: black;
}
.header {
  position: fixed;
  background-color: white;
  display: flex;
  width: 100vw;
  border-bottom: 0.5px solid #f4f4f4;
}
.col-1,
.col-2 {
  padding: 22px;
}
.col-1 {
  width: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-right: 0.5px solid #f4f4f4;
}
.col-1 img {
  height: 30px;
  width: 134;
}
.col-1:hover {
  background-color: rgb(242, 242, 242);
}

.col-2 {
  width: 90%;
  display: flex;
  align-items: center;
}

.innercol-1 {
  width: 20%;
  background-color: white;
}
.location {
  display: flex;
  position: relative;
}
.downarrow {
  position: absolute;
  bottom: 0px;
  font-size: 15px;
  margin-left: 3px;
}
.user {
  display: none;
}
.innercol-2 {
  padding: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 60%;
  border: 1px solid rgb(0 0 0 / 4%);
  background-color: #f4f4f4;
  border-radius: 12px;
}
.innercol-2 i {
  font-size: 18px;
}
.innercol-2 input {
  margin-left: 10px;
  outline: none;
  border: 0px;
  width: 95%;
  font-size: 16px;
  background-color: #f4f4f4;
}

.innercol-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: white;
}
.innercol-3 a {
  font-size: 18px;
  text-decoration: none;
}
.innercol-4 {
  align-self: end;
  width: 10%;
  background-color: white;
}
.myCart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c831f;
  font-size: 14px;
  font-weight: 500;
  color: white;
  height: 52px;
  width: 112px;
  border: 0px;
  border-radius: 8px;
}

.myCart i {
  font-size: 20px;
}
.change {
  padding: 0px 6px;
}
.row2 {
  padding: 100px 80px 0px;
  display: flex;
  justify-content: center;
}
.row2 a img {
  object-fit: contain;
  height: 234px;
  width: 1405px;
}
.row3 a img {
  height: 195px;
  width: 335px;
  margin: 0px 5px;
}
.row4 {
  flex-wrap: wrap;
}
.row4 a img {
  height: 188px;
  width: 140px;
}
.div-h-2 {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
}
.h-2 {
  margin: 20px 50px;
}
.h-2-p {
  margin: 0px 60px;
  color: #0f8422;
  font-weight: 700;
}
.row3,
.row4,
.row6,
.lastRow {
  padding: 0px 80px;
  display: flex;
  justify-content: center;
}
.row4 {
  margin-top: 10px;
  padding: 0px 30px;
}
.card1 {
  margin-right: 10px;
  justify-content: space-between;
  padding: 12px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 195px;
  height: 274px;
  border: 0.5px solid rgb(232, 232, 232);
  box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
  border-radius: 8px;
}
.card1 img {
  height: 140px;
  width: 140px;
  align-self: center;
}
.card1 p {
  margin: 10px 0px;
  font-size: 13px;
  font-weight: 600;
}
.quantity {
  font-size: 11px !important;
  font-weight: 400 !important;
  margin: 0px 0px 15px 0px !important;
}
.inner {
  justify-content: space-between;
  width: auto;
  display: flex;
}
.add {
  height: 33px;
  width: 68px;
  border-radius: 4px;
  border: 0.5px solid #318616;
  color: #318616;
  font-weight: 600;
}
.active {
  background-color: #0c831f;
}
.addBtnChange {
  background-color: #0c831f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus-minus-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
}
#phoneCart {
  background-color: #0c831f;
  border-radius: 8px;
  padding: 10px;
  display: none;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0px 10px 10px 10px;
  height: 4%;
  width: auto;
}

.footer {
  display: flex;
  padding: 100px 100px;
}
.footerInnerRow1 {
  display: flex;
  flex-direction: column;
}
.footerInnerRow2 {
  margin: 0px 90px;
  display: flex;
  flex-direction: column;
}
.footerInnerRow3 {
  display: flex;
  flex-direction: column;
}
.footerInnerRow4 {
  display: flex;
  flex-direction: column;
}
.footerInnerRow5 {
  margin: 0px 90px;
  display: flex;
  flex-direction: column;
}
.footerInnerRow6 {
  display: flex;
  flex-direction: column;
}
.footerInnerRow1 a,
.footerInnerRow2 a,
.footerInnerRow3 a,
.footerInnerRow4 a,
.footerInnerRow5 a,
.footerInnerRow6 a {
  margin: 5px;
  text-decoration: none;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}
.footercol2 {
  margin-left: 90px;
}
.lastRow {
  background-color: #6666660a;
  padding-top: 20px;
}
.one {
  width: 33%;
  display: flex;
  justify-content: center;
}
.one p {
  font-size: 12px;
  color: #666666;
  font-weight: 200;
}
.two {
  display: flex;
  width: 33%;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  justify-content: center;
  align-items: center;
}
.socialImg1 {
  height: 30px;
  width: 92px;
  margin: 0px 16px;
}
.socailImg2 {
  height: 30px;
  width: 92px;
}
.three {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
}
.three a {
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.endrow {
  background-color: #6666660a;
  padding: 10px 80px;
}

@media screen and (width <= 450px) {
  .col-2 {
    display: block;
    padding: 15px;
  }
  .col-1,
  .myCart,
  .innercol-3 {
    display: none;
  }
  .innercol-1 {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  .innercol-1 a p {
    font-size: 15px;
  }
  .innercol-1 a p b {
    font-size: 20px;
  }
  .user {
    display: contents;
  }
  .user a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black !important;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .innercol-2 {
    width: 97%;
  }

  .row3,
  .row4,
  .row6,
  .lastRow {
    padding: 0px 10px;
  }
  .row2 {
    padding: 150px 10px 0px;
  }
  .row2 a img {
    height: 100px;
    width: 100%;
    object-fit: fill;
  }
  .row3,
  .row4 {
    flex-wrap: wrap;
  }
  .row3 a img {
    margin: 0px 5px;
    height: 130px;
    width: 170px;
  }
  .row4 a img {
    height: 140px;
    width: 90px;
  }
  .div-h-2 {
    padding: 0px;
  }
  .h-2 {
    font-size: 18px;
    margin: 20px 15px 20px;
  }
  .h-2-p {
    margin: 0px 15px;
  }
  .row6 {
    overflow: scroll;
    justify-content: flex-start;
  }
  .footer {
    padding: 10px 15px;
    flex-direction: column;
  }
  .footerInnerRow2 {
    margin: 0px 40px;
  }
  .footercol2 {
    margin: 0px;
  }
  .footerInnerRow5 {
    margin: 0px 40px;
  }
  .lastRow {
    padding: 10px 15px;
    flex-direction: column;
  }
  .one,
  .two,
  .three {
    width: 100%;
  }
  .three {
    margin-top: 10px;
    justify-content: center;
  }
  .endrow {
    padding: 10px 15px;
  }
  .endrow p {
    margin: 0px;
  }
}
@media screen and (450px < width <= 1099px) {
  .col-1,
  .col-2 {
    padding: 12px;
  }
  .col-1 img {
    height: 55px;
    width: 95px;
  }
  .innercol-1 {
    width: 25%;
    display: flex;
    align-items: center;
  }
  .innercol-1 p {
    font-size: 12px;
  }
  .innercol-2 {
    padding: 8px;
    width: 45%;
  }
  .innercol-2 i {
    font-size: 15px;
  }
  .input {
    font-size: 1px;
  }
  .innercol-3 a {
    font-size: 15px;
  }
  .myCart {
    margin-top: -55px;
    height: 45px;
    width: 110px;
    align-self: flex-end;
    font-size: 14px;
  }
  .myCart i {
    font-size: 15px;
  }
  .row2 {
    padding: 80px 80px 0px;
  }
  .row2 a img {
    object-fit: contain;
    height: 190px;
    width: 950px;
  }
  .row3 a img {
    height: 150px;
    width: 235px;
  }
  .row4 {
    padding: 0px 10px;
  }
  .row4 a img {
    height: 138px;
    width: 98px;
  }
  .h-2 {
    font-size: 20px;
    margin: 10px -5px;
  }
  .h-2-p {
    margin: 0px 10px;
    color: #0f8422;
    font-weight: 700;
  }
  .card1 {
    height: 230px;
  }
  .card1 img {
    height: 110px;
    width: 125px;
  }
  .card1 p {
    margin: 8px 0px;
    font-size: 12px;
    font-weight: 600;
  }
  .h-3 {
    font-size: 18px;
  }
  .footer {
    padding: 30px;
  }
  .footerInnerRow1 a,
  .footerInnerRow2 a,
  .footerInnerRow3 a,
  .footerInnerRow4 a,
  .footerInnerRow5 a,
  .footerInnerRow6 a {
    margin: 5px;
  }
  .footercol2 {
    margin-left: 40px;
  }
  .footerInnerRow2,
  .footerInnerRow5 {
    margin: 0px 30px;
  }
  .lastRow {
    padding: 20px 30px 0px 30px;
  }
  .endrow {
    background-color: #6666660a;
    padding: 10px 30px;
  }
}
